body {
  text-align: center;
}

.message-list {
  background-color:#baadae;
  padding: 20px;
}

h1 {
  color: #bc1229;
}

.message {
  color: #000;
  margin: 20px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold;
}

.nav-bar {
  color: white;
  background-color: #bc1229;
  max-width: 400px;
  margin: auto;

}
.nav-bar a {
  color: white;
  margin:20px;
  display: inline-block;
  text-decoration:none;

}

.nav-bar a:hover {
  color: white;

}

.time {
  color: #894444;

}


img {
  width: 200px;
  margin-top: 10px
}

input[type=text] {
    color: red;
}

input[type=submit] {
   color: blue;
   border: none;
}
.urlInput {
  margin-top: 20px
}

.hidden {
  display: none
}
.comment{
border: 8px solid #fff;
background-color: #afeeee;
margin:20px;
padding: 10px;
border-radius: 5px;

}

input:hover {
  background-color: #E2D9D9;
}

button:active {
  background-color: yellow;
}
